/*
font-family: 'Montez', cursive;
font-family: 'Montserrat', sans-serif;
*/


*{
    --xdark:rgb(1, 14, 58);
    --dark:rgb(5, 22, 78);
    --body: rgb(18,75,161);
    --primary:rgb(107, 139, 194);
    --neon:rgb(0, 225, 255);
    --light:#ffffff;
    --dimlight:rgb(199, 204, 226);

    margin:0;
    padding:0;
    box-sizing: border-box;

    font-family:'montserrat';

    font-weight: 300;
    
}
.bg-xdark{
    background:var(--xdark) !important;
}
.bg-dark{
    background-color: var(--dark) !important;}
.bg-pprimary{
    background: var(--primary);
}

body{
    background:var(--body);
    padding:30px;
}


/*top Navbar*/
.navbar-brand{
    font-family:montez;
    font-size:20px;
}
.navbar-brand:hover{
    color:var(--neon) !important;
}
.nav-search{
    font-size:14px;
    padding:7px 30px 7px 15px;
    border:none;
    border-radius:25px;
    color:var(--dimlight) !important;
}
.search-form .btn{
    color:var(--dimlight) !important;
    margin-left:-35px;
}
.navbar-nav .nav-item .nav-link, .dropdown-items{
}
.navbar-nav .nav-item .nav-link:hover, .dropdown-items:hover{
    color:var(--neon)
}
.nav-icon{
    font-size:20px;
}  /*end top Navbar*/


/*Left Vertical Navbar*/
.left-navbar-container{
    padding-top:15px !important;
    margin-top:55px;
    border-radius:20px !important;    
    width:auto; height:auto;
    height:min-content;
}
.left-navbar-container h6,p{
    margin:2px 0;
}

.profile-image{
    /* margin-top:0px; */
    height:80px;width:80px;
    border:2px solid var(--neon);
    border-radius:50% !important;
    box-shadow:0 0 10px #640d74;
}
.profile-btn{
    border-radius: 50px;
    border:1px solid var(--neon) !important;
    color:var(--neon) !important;
}
.profile-btn:hover{
    border-radius: 50px;
    background-color:var(--neon);
    color:var(--dark) !important;

}
.my-vnav .active{
    color:var(--neon) !important;
    background-color:var(--xdark);
}
.my-vnav .nav-link{
    color:var(--dimlight);
}
.my-vnav .nav-link:hover{
    color:var(--light);
    background-color:var(--xdark);
}
.my-nav-txt{
    font-size:13px;
    margin-left:2px;
    text-transform: uppercase;
}
/*end Left Vertical Navbar*/

/*Right main content container*/
 .right-main-container{
    /* padding-top:15px !important; */
    margin-top:55px;
    background:rgb(145, 158, 173);
    border-radius:20px !important;
    height:calc(100vh - 110px);
    margin-left:30px;
    overflow-y: scroll;
 }

 /*Scroll bar for Right main container*/
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(10, 9, 71); 
    border-radius: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(2, 87, 126); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #01a0ac; 
  }
  .m-title{
      position:sticky;
      top:0px;
      z-index: 100;
      padding:8px 0 2px 5px;
      background:rgb(145, 158, 173);
  }
  .m-title h4{
      font-family: 'Orelega One' !important;
      font-size: 20px;
      font-weight:700 !important;
      padding-top:10px;padding-left:10px;

  }
  .hr-width{
      width:280px;border:1px solid #ffffff;
      padding:0;margin:0 0 5px -10px;
  }
/*End Right main content container*/

/*Right container main content*/
.wrap-icon-overview-box .card{
    border-radius:25px;
    background:var(--dark);
    border:2px solid var(--dark);
    margin-bottom:20px;
    transition: all 0.3s ease;
}
.wrap-icon-overview-box .overview-icons{
    font-size:50px;
}
.wrap-icon-overview-box a{
    text-decoration: none;
    color:var(--light);
}
.wrap-icon-overview-box h1{
    font-family: 'Orelega One';
    font-size:40px;
    padding:0;margin:0;
    color:var(--dimlight);
    cursor: pointer;
}
.wrap-icon-overview-box p{
    font-size: 12px;
    cursor: pointer;
    
}
.wrap-icon-overview-box .card:hover{
    /* border:2px solid var(--neon); */
    -webkit-box-shadow: -3px 10px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 10px 19px -3px rgba(0,0,0,0.75);
    box-shadow: -3px 10px 19px -3px rgba(0,0,0,0.75);
}
.wrap-icon-overview-box .card:hover h1{
    color:var(--light) !important; 
}
.wrap-icon-overview-box .card:hover p{
    color:var(--neon);
}  /*main content ends*/




/*Media query max-width 849 */
@media screen and (max-width: 849px) {
    /* .left-navbar-container{
        padding-top:15px !important;
        margin-top:55px;
        border-radius:20px !important;    
        width:auto; height:auto;
        height:min-content;
    } */
    .profile h6,p,.profile-btn{
        display:none !important;
    }
    .profile-image{
        width:25px;height:25px;
    }
    .my-nav-txt{
        display: none;
    }
    }
  }
